@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?1278176be9919ab4bda72f6139681182") format("truetype"),
url("./flaticon.woff?1278176be9919ab4bda72f6139681182") format("woff"),
url("./flaticon.woff2?1278176be9919ab4bda72f6139681182") format("woff2"),
url("./flaticon.eot?1278176be9919ab4bda72f6139681182#iefix") format("embedded-opentype"),
url("./flaticon.svg?1278176be9919ab4bda72f6139681182#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
font-size: 60px;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-pet:before {
    content: "\f101";
}
.flaticon-aprovado:before {
    content: "\f102";
}
.flaticon-curriculo:before {
    content: "\f103";
}
.flaticon-pet-1:before {
    content: "\f104";
}
